.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.vscode
.bat

/.quarto/
/archive/
/csv_output/
/plots/
/spatial/
/leaflets/
/docs/ClaudeUploads/
/docs/Prompts/
/Results/
/.clinerules/
/.agents/
/clineTemp/
/.obsidian/
/markdown/
/.vscode/


/.quarto_ipynb

**/*.quarto_ipynb

/docs/TODO.md